<template>
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="">
                    <div class="card card-default">
                        <div class="card-header">Создаем компонент</div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input v-model="new_post.title" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputAuthor">Author</label>
                            <input v-model="new_post.author" type="text" class="form-control" id="exampleInputAuthor" placeholder="Enter author">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputContent">Content</label>
                            <input v-model="new_post.content" type="text" class="form-control" id="exampleInputContent" placeholder="Enter content">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputReder">Reader</label>
                            <input v-model="new_post.reader"type="text" class="form-control" id="exampleInputReder" placeholder="Enter reader">
                        </div>
                        <button class="btn btn-success"@click="add_post()">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CreateComponent",new_post:{
            title:"",
            author:"",
            content:"",
            reader:"",
        }
        data(){
            return{

            }
        },methods:{
            add_post(){
                event.preventDefault();
                var app = this;
                axios.post('api/posts',this.new_post).then(resp=>{
                    app.$router.push({path: '/'});
                });
            }
        }

    }
</script>

<style scoped>

</style>