<template>
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="">
                    <div class="card card-default">
                        <div class="card-header">Создаем компонент</div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input v-model="new_post.title" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputAuthor">Author</label>
                            <input v-model="new_post.author" type="text" class="form-control" id="exampleInputAuthor" placeholder="Enter author">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputContent">Content</label>
                            <input v-model="new_post.content" type="text" class="form-control" id="exampleInputContent" placeholder="Enter content">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputReder">Reader</label>
                            <input v-model="new_post.reader"type="text" class="form-control" id="exampleInputReder" placeholder="Enter reader">
                        </div>
                        <button class="btn btn-success"@click="update_post()">Обновить</button>
                        <button class="btn btn-danger"@click="delete_post()">Удалить навсегда!!!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "EditComponent",
        data(){
            return{
                id:this.$route.params.id,
                new_post:{
                    title:"",
                    author:"",
                    content:"",
                    reader:"",
                }
            }
        },
        mounted(){
            axios.get('api/posts/'+this.id).then(resp=>{
                this.new_post.title=resp.data.data.title;
                this.new_post.author=resp.data.data.author;
                this.new_post.content=resp.data.data.content;
                this.new_post.reader=resp.data.data.reader;
            });
        },
        methods:{
            update_post(){
                event.preventDefault();
                var app = this;
                axios.put('api/posts/'+this.id,this.new_post).then(resp=>{
                    app.$router.push({path: '/'});
                });
            },
            delete_post(){
                axios.delete(`/api/posts/${this.id}`).then(resp=>{
                    app.$router.push({path: '/'});
                });
            },
        }
    }

</script>

<style scoped>

</style>