<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>


                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Author</th>
                                <th scope="col">Content</th>
                                <th scope="col">Title</th>
                                <th scope="col">Reader</th>
                                <th scope="col">Created</th>
                                <th scope="col">Updated</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item,index) in posts">
                                <th scope="row">{{item.id}}</th>
                                    <td>{{item.author}}</td>
                                <td>{{item.content}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.reader}}</td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.updated_at}}</td>
                                <td style="display:flex">
                                    <button type="button"class="btn btn-warning" style="margin-right: 5px;" @click="open_edit(item.id)">Изменить</button>
                                    <button type="button"class="btn btn-danger" @click="delete_item(item,index)">Удалить</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    <router-link :to="{name: 'createPost'}" class="btn btn-succes">
                       Запилить свой
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
             message:"Привет петрик",
                posts:[]
            }
        },
        methods:{
            delete_item(item,index){
                axios.delete(`/api/posts/${item.id}`).then(resp=>{
                    this.posts.splice(index,1);
                });
            },
            open_edit(id){
                event.preventDefault();
                var app = this;
                app.$router.push({name: 'editComponent', params: {id: id}});
            }
        },
        mounted() {
            axios.get('/api/posts').then(resp=>{
                this.posts = resp.data.data;
            });
        }
    }
</script>
